.flexContainer { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

.profilePic {
  border-radius: 50%;
  height: 225px;
  margin-top: 8%;
  margin-bottom: 1%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}

.headerText {
  max-width: 90%;
  text-align: left;
  margin-bottom: 2%;
}

.downButton {
  margin-bottom: 2%;
}

@media (max-width: 800px) {
  .profilePic {
    height: 130px;
    margin-top: 20%;
  }
}