.flexContainer { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
}

.headerText {
  max-width: 90%;
  margin-top: 8%;
  margin-bottom: 5%;
}

.descriptionText {
  text-align: left;
  max-width: 70%;
  margin-bottom: 10%;
}

.avatar {
  margin-right: 1em;
}

.primaryHeader {
  flex-grow: 1;
}

@media (max-width: 800px) {
  .headerText {
    margin-top: 20%;
    margin-bottom: 20%;
  }
  .descriptionText {
    max-width: 90%;
    margin-bottom: 10%;
  }
  .downButton {
    margin: 5% 0;
  }
}